@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed&display=swap');
$font : 'Poppins', sans-serif;
$fontAcme:'Acme', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$colorwhite: #fff;
$gold : #F4FA1A;
$black : #1A1A1A;
$black2 : #222222;

//-----Mixin Media Query------
@mixin android {
    @media (max-width: 576px) {
      @content;
    }
  }
  @mixin android-680px {
    @media (max-width: 680px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

    @mixin center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
//-----AKHIR Mixin Media Query------



//----- TRANSITION ANIMASI------
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


//-----AKHIR Mixin TRANSITION ANIMASI------
html {
    scroll-behavior: smooth;
    @include android(){
        overflow-x: hidden;
    }
}

body{
    overflow-x: hidden;
    background: $black;
    color: $colorwhite;
}

.home-1{
    width: 100%;
    // padding: 0 30px 0 30px;
    height: calc(100vh - 59px);
    @include android(){
        height: calc(100vh - 70px);
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: calc(100vh - 70px);
        
        @include android(){
            flex-direction: column;
            align-items: center;
            justify-content: unset;
        }
        .col-1{
            width: 50%;
            padding-left: 10em;
            @include tablet(){
                padding-left: 30px;
            }
            @include android(){
                width: 78%;
                padding-left: 0;
            }
            .inner-container{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                // padding-left: 30px;
                max-width: 60%;
                @include tablet(){
                    max-width: 85%;
                }
                @include android(){
                    align-items: center;
                    padding-top: 60px;
                    padding-left: 0;
                    max-width: none;
                }
                .title{
                    text-align: left;
                    color: $colorwhite;
                    font-size: 2.5em;
                    font-family: $fontAcme;
                    letter-spacing: 0.1em;
                    @include tablet(){
                        font-size: 1.5em;
                    }
                    @include android(){
                        font-size: 1em;
                    }
                }
                .sub-title{
                    color: $colorwhite;
                    font-size: 5.5em;
                    font-family: $font;
                    font-weight: bold;
                    @include tablet(){
                        font-size: 3.5em;
                    }
                    @include android(){
                        font-size: 2em;
                    }
                    span{
                        color: $gold;
                    }
                }
                .desc{
                    text-align: justify;
                    padding-top: 15px;
                    color: $colorwhite;
                    font-size: 0.8em;
                    line-height: 15px;
                    font-family: $fontOpenSans;
                    @include tablet(){
                        font-size: 0.7em;
                    }
                    @include android(){
                        font-size: 0.5em;
                        text-align: center;
                    //     max-width: 100%;
                    }
                    span{
                        color: $gold;
                    }
                }
                
                
            }
        }
        .col-2{
            width: 50%;
            padding-right: 10em;
            @include tablet(){
                padding-right: 30px;
            }
            @include android(){
                padding-right: 0;
                width: unset;
            }
            .inner-container{
                float: right;
                position: relative;
                gap: 30px;
                align-items: center;
                flex-direction: unset;
                @include android(){
                    align-items: center;
                    padding-top: 40px;
                }
            }
            .border{
                position: relative;
                display: flex;
                justify-content: center;
                width: 22em;
                height: 25em;
                // border: 5px solid #F4FA1A;
                // box-sizing: border-box;
                border-top-left-radius: 35%;
                border-top-right-radius: 35%;
                background: linear-gradient(180deg, rgba(244,250,26,1) 11%, rgba(26,26,26,1) 100%);
                // background-color: #F4FA1A;
                
                @include tablet(){
                    width: 18em;
                    height: 20em;
                }
                @include android(){
                    width: 15em;
                    height: 18em;
                    left: 0px;
                    margin-left: 0;
                }
                .img{
                    position: absolute;
                    width: 45em;
                    bottom: 0em;
                    @include tablet(){
                        width: 35em;
                    }
                    @include android(){
                        width: 24em;
                        height: 20em;
                    }
                }
            }
            .follow{
                display: flex;
                justify-content: center;
                flex-direction: column;
                @include tablet(){
                    width: 300px;
                    top: 20px;
                    right: 65%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: unset;
                }
                @include android(){
                    display: none;
                }
                .text-follow{
                    text-align: center;
                    color: $colorwhite;
                    font-size: 1.1em;
                    font-family: $fontOpenSans;
                    writing-mode: vertical-rl;
                    padding-right: 3px;
                    @include tablet(){
                        writing-mode: unset;
                        letter-spacing: 5px;
                    }
                    @include android(){
                        writing-mode: vertical-rl;
                    }
                }
                .icon-sosmed{
                    padding-bottom: 8px;
                    padding-top: 8px;
                    @include tablet(){
                        padding-bottom: 0px;
                        padding-top: 0px;
                        display: flex;
                        justify-content: space-between;
                    }
                    @include android(){
                        display: inline-block;
                    }
                    li {
                        padding-bottom: 10px;
                        @include tablet(){
                            padding: 0 8px;
                        }
                        a {
                            position: relative;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            text-align: center;
                            transition: 200ms;
                            // background-color: $colorwhite;
                            &:after {
                                pointer-events: none;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                content: '';
                                box-sizing: content-box;
                                box-shadow: 0 0 0 2px #fff;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: 200ms;
                            }
                            &:hover {
                                background-color: #fff;
                                
                                &:after {
                                    opacity: 1;
                                    transform: scale(1.15);
                                }
                            }
                            i{
                                font-size: 1.5em;
                                color: $colorwhite;
                            }
                            
                        }
                        &:nth-child(1) {
                            &:hover {
                                i {
                                    color: #f2003c;
                                }
                            }
                        }
                        &:nth-child(2) {
                            &:hover {
                                i {
                                    color: #007bb5;
                                }
                            }
                        }
                        &:nth-child(3) {
                            &:hover {
                                i {
                                    color: #25d366;
                                }
                            }
                        }
                        &:nth-child(4) {
                            &:hover {
                                i {
                                    color: #171515;
                                }
                            }
                        }
                    }
                }
                hr{
                    border: none;
                    border-left:  2px solid $colorwhite;
                    height: 40px;
                    @include tablet(){
                        display: none;
                    }
                    @include android(){
                        display: block;
                    }
                }
            }
            }
        }
}



// ===============
//     NAVIGATION
// ===============

.navigation {
    z-index: 1;
    position: sticky;
	top: 0;
    box-shadow: -1px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: $black;
    @include android(){
        // display: none;
        box-shadow: unset ;
    }
	.container {
		// width: 90%;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		padding: 10px;
        @include android(){
            padding: 0;
        }
		.navbar {
            @include android(){
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content:center ;
                align-items: center;
                gap: 25px;
                // top: 100%;
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                background-color: $black;
            }
			li {
				display: inline-block;
                position: relative;
				a {
                    position: relative;
					display: inline-block;
					text-decoration: none;
					padding: 10px 20px;
                    font-size: 16px;
                    font-family: $font;
					color: white;
                    @include android(){
                        padding: 0;
                        font-size: 20px;
                    }
                    &::after{
                        bottom: 0;
                        content: '';
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $gold;
                        transition: width 0.5s ease 0s, left 0.5s ease 0s;
                        width: 0;
                        @include android(){
                            background: none;
                        }
                    }
                    &:hover{
                        color: $gold;
                        transition:  0.5s;
                        &:after {
                            
                            width: 100%;
                            left: 0;
                            // transform: scaleX(1);
                            // transform-origin: bottom left;
                        }
                    }
				}
			}
			li.active {
				a {
                    color: $gold;
                }
			}
		}
        // ADA class active
        .navbar.active {
            right: 0;
            top: 0;
            position: fixed;
        }

        .hamburger-menu{
            display: none;
            @include android(){
                display: block;
                align-items: center;
                position: fixed;
                padding: 10px;
                top: 1rem;
                right: 1rem;
                z-index: 10;
                width: 28px;
                height: 35px;
                cursor: pointer;
                
        }
            span{
                display: none;
                background-color: $colorwhite;
                width: 100%;
                height: 4px;
                margin: 0 0 5px 0;
                border-radius: 3px;
                @include android(){
                    display: block;
                }
            }
            
        }
        .hamburger-menu.active {
            .menu-1 {
                transform: rotate(-45deg) translate(-0.1rem, 0.7rem);
            }
            .menu-2 {
                opacity: 0;
            }
            .menu-3 {
                transform: rotate(45deg) translate(-0.1rem, -0.7rem);
            }
        }
	}
}


// ABOUT
.About{
    padding-top: 100px;
    // padding-bottom: 70px;
    display: inline-block;
    width: 100%;    
    height: 100%;   
    background-color: $black2;
    .container{
        width: 100%;
        display: flex;
        padding-bottom: 80px;
        justify-content: space-around;
        @include android(){
            flex-direction: column;
            @include center;
        }
        .tittle{
            text-align: center;
            font-size: 2.5em;
            font-family: $fontAcme;
        }
        .gariss{
                background: $gold;
                width: 5em;
                height: 5px;  
        }
        .tittle,.gariss{
            display: none;
            @include android(){
                display: block;
            }
        }
        .content-1{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: right;
            padding-right: 70px;
            @include tablet(){
                width: 50%;
                padding-right: 50px;
            }
            @include android(){
                padding-right: 0;
                padding-top: 30px;
                width: 100%;
                @include center;
            }
            .border-img{
                position: relative;
                // background-color: $gold;
                width: 20em;
                height: 20em;
                box-sizing: border-box;
                box-shadow: 0 0 0 2px $gold;
                @include tablet(){
                    width: 15em;
                    height: 15em;
                }
                @include android(){
                    box-shadow: none;
                    margin-bottom: 10px;
                }
                // &:hover{
                //     transition: 0.4s ease-in ;
                //     box-shadow: 0 0 0 4px $gold;
                //     img{
                //         position: absolute;
                //         top: 20px;
                //         right: 0;
                //         left: -20px;
                //         bottom: 0;
                        
                //     }
                    
                // }
                img{
                    position: absolute;
                    top: -20px;
                    right: 0;
                    left: 20px;
                    bottom: 0;
                    width: 20em;
                    @include tablet(){
                        width: 15em;
                        top: -15px;
                        right: 0;
                        left: 15px;
                        bottom: 0;
                    }
                    @include android(){
                        position: unset;
                        border-radius: 5px;
                    }
                    // &:hover{
                    //     transition: 3s ease-out;
                    //     cursor: pointer;
                    // }
                }
            }
        }
        .content-2{
            width: 60%;
            @include android(){
                width: 100%;
                @include center();
            }
            .inner-container{
                max-width: 80%;
                .button{
                    margin-top: 20px;
                }
                @include android(){
                    align-items: center;
                }
            }
            .title{
                text-align: left;
                @include tablet(){
                    font-size: 3em;
                }
                @include android(){
                    display: none;
                }
            }
            .garis{
                @include android(){
                    display: none;
                }
            }
            .desc{
                font-size: 13px;
                font-family: $fontOpenSans;
                line-height: 15px;
                padding-top: 20px;
                letter-spacing: 2px;
                text-align: justify;
                @include tablet(){
                    font-size: 10px;
                    padding-top: 10px;
                }
                @include android(){
                    line-height: 10px;
                    letter-spacing: 0.5px;
                    text-align: center;
                }
            }
            
        }
    }
}


// SKLISS
.Skills{
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    .container{
        width: 50%;
        .inner-container{
            @include center();
            flex-direction: unset;
            padding-top: 30px;
            gap: 40px;
            @include android(){
                @include center;
                flex-direction: column;
            }
            .row{
                cursor: pointer;
                color: $black;
                font-family: $font;
                background-color: $gold;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                
                .col{
                    background-color: $gold;
                    align-items: center;
                    display: flex;
                    justify-content: space-around;
                    gap: 20px;
                    border-radius: 10px;
                    padding: 20px;
                    width: 300px;
                    box-shadow: -1px 10px 4px rgb(0 0 0 / 25%);
                    color: $black;
                    @include tablet(){
                        padding: 10px;
                        gap: unset;
                        max-width: 230px;
                    }
                    @include android(){
                        padding: 8px;

                    }
                    i {
                        fill: white;
                        width: 1.25em;
                        height: 1.25em;
                        font-size: 2em;
                        transform: rotateZ(360deg);
                        transition: transform 1s ease-in-out;
                    }
                    .teks{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .title{
                            font-size: 1.5em;
                            font-family: $font;
                            font-weight: 400;
                            
                        }
                        .sub-title{
                            padding-top: 5px;
                            font-size: 0.8em;
                            font-family: $fontOpenSans;
                            color: $black2;
                        }
                    }
                }
                .dropdown-action.active-dropdown {
                        span{
                            i {
                                transition: 1s ease-in-out;
                                transform: rotateZ(180deg);
                            }
                        }
                }
                .dropdown-content{
                    display: flex;
                    flex-direction: column;
                    @include center;
                    gap: 8px;
                    font-size: 1em;
                    font-weight: 800;
                    max-height: 0;
                    transition: max-height 1s ease-in-out;
                    overflow: hidden;
                    padding: 0;
                    * {
                        animation: fadeOut 1s ease-in-out;
                        opacity: 0;
                        padding: .5em;
                    }
                }
                .dropdown-action.active-dropdown+.dropdown-content {
                    * {
                        animation: fadeIn 1s ease-in-out;
                        opacity: 1;
                    }
                }
                
            }

            
        }
    }

}


// ===========   GLOBAL  ===========
.icons-sosmed{
        display: none;
        @include android(){
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        li {
            // padding-bottom: 10px;
            
            a {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                transition: 200ms;
                // background-color: $colorwhite;
                &:after {
                    pointer-events: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    content: '';
                    // box-sizing: content-box;
                    // box-shadow: 0 0 0 2px #fff;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: 200ms;
                }
                &:hover {
                    background-color: #fff;
                    
                    &:after {
                        opacity: 1;
                        transform: scale(1.15);
                    }
                }
                i{
                    font-size: 2.5em;
                    color: $colorwhite;
                }
                
            }
            &:nth-child(1) {
                &:hover {
                    i {
                        color: #f2003c;
                    }
                }
            }
            &:nth-child(2) {
                &:hover {
                    i {
                        color: #007bb5;
                    }
                }
            }
            &:nth-child(3) {
                &:hover {
                    i {
                        color: #25d366;
                    }
                }
            }
            &:nth-child(4) {
                &:hover {
                    i {
                        color: #171515;
                    }
                }
            }
        }
}
.button{
        position: relative;
        margin-top: 30px;
        width: 8.5em;
        height: 3em;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid #F4FA1A;
        box-sizing: border-box;
        border-radius: 15px;
        color: $gold;
        font-family: $font;
        font-size: 14px;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        // position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        
        @include tablet(){
            width: 8em;
            height: 3em;
            font-size: 11px;
        }
        @include android(){
            margin-top: 20px;
            width: 7.5em;
            height: 3em;
            font-size: 11px;
            border-radius: 10px;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: goldenrod;
            border-radius: 15px;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            @include android(){
                border-radius: 10px;
            }
        }
        &:hover {
            color: $colorwhite;
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
        }
        &:focus {
            color: $colorwhite;
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
        }
        &:active {
            color: $colorwhite;
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
        }
}

.frame{
        width: 100%;
        // height: calc(100vh - 70px);
        padding-top: 100px;
        // .container{
        //     h1{
        //         color: $colorwhite;
        //         display: flex;
        //         justify-content: center;
        //         font-size: 100px;
        //     }
        // }
}
.title{
        text-align: center;
        font-size: 3em;
        font-family: $fontAcme;
}
.sub-title{
    @include center();
    font-size: 1em;
    font-family: $font;
    color: #A9A9A9;
}
.garis{
        background: $gold;
        width: 8em;
        height: 5px;  
        @include tablet(){
            width: 6em;
        }
}


.inner-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-left: 30px;
    // max-width: 70%;

}
.container {
    width: 100%;
    // padding: 0 30px 0 30px;
    margin-right: auto;
    margin-left: auto;
}