@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed&display=swap");
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #1A1A1A;
}

.home-1 {
  width: 100%;
  height: calc(100vh - 59px);
}
@media (max-width: 576px) {
  .home-1 {
    height: calc(100vh - 70px);
  }
}
.home-1 .container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100vh - 70px);
}
@media (max-width: 576px) {
  .home-1 .container {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
}
.home-1 .container .col-1 {
  width: 50%;
  padding-bottom: 50px;
}
@media (max-width: 576px) {
  .home-1 .container .col-1 {
    width: 78%;
  }
}
.home-1 .container .col-1 .inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  max-width: 60%;
}
@media (max-width: 768px) {
  .home-1 .container .col-1 .inner-container {
    max-width: 85%;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-1 .inner-container {
    align-items: center;
    padding-top: 60px;
    padding-left: 0;
    max-width: none;
  }
}
.home-1 .container .col-1 .inner-container p {
  color: #fff;
  font-size: 2.5em;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.1em;
}
@media (max-width: 768px) {
  .home-1 .container .col-1 .inner-container p {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-1 .inner-container p {
    font-size: 1em;
  }
}
.home-1 .container .col-1 .inner-container .title {
  color: #fff;
  font-size: 5.5em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media (max-width: 768px) {
  .home-1 .container .col-1 .inner-container .title {
    font-size: 3.5em;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-1 .inner-container .title {
    font-size: 2em;
  }
}
.home-1 .container .col-1 .inner-container .title span {
  color: #F4FA1A;
}
.home-1 .container .col-1 .inner-container .job-desc {
  text-align: justify;
  padding-top: 15px;
  color: #fff;
  font-size: 0.8em;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  .home-1 .container .col-1 .inner-container .job-desc {
    font-size: 0.7em;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-1 .inner-container .job-desc {
    font-size: 0.5em;
    text-align: center;
  }
}
.home-1 .container .col-1 .inner-container .job-desc span {
  color: #F4FA1A;
}
.home-1 .container .col-1 .inner-container .button {
  position: relative;
  margin-top: 30px;
  width: 8.5em;
  height: 3em;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #F4FA1A;
  box-sizing: border-box;
  border-radius: 15px;
  color: #F4FA1A;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media (max-width: 768px) {
  .home-1 .container .col-1 .inner-container .button {
    width: 8em;
    height: 3em;
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-1 .inner-container .button {
    margin-top: 20px;
    width: 7.5em;
    height: 3em;
    font-size: 11px;
    border-radius: 10px;
  }
}
.home-1 .container .col-1 .inner-container .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: goldenrod;
  border-radius: 15px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
@media (max-width: 576px) {
  .home-1 .container .col-1 .inner-container .button:before {
    border-radius: 10px;
  }
}
.home-1 .container .col-1 .inner-container .button:hover {
  color: #fff;
}
.home-1 .container .col-1 .inner-container .button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.home-1 .container .col-1 .inner-container .button:focus {
  color: #fff;
}
.home-1 .container .col-1 .inner-container .button:focus:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.home-1 .container .col-1 .inner-container .button:active {
  color: #fff;
}
.home-1 .container .col-1 .inner-container .button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.home-1 .container .col-2 {
  width: 50%;
}
@media (max-width: 576px) {
  .home-1 .container .col-2 .inner-container {
    align-items: center;
    padding-top: 40px;
  }
}
.home-1 .container .col-2 .border {
  position: relative;
  display: flex;
  justify-content: center;
  width: 22em;
  height: 25em;
  left: 95px;
  margin-left: 100px;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  background: linear-gradient(180deg, #f4fa1a 11%, #1a1a1a 100%);
}
@media (max-width: 768px) {
  .home-1 .container .col-2 .border {
    left: 70px;
    margin-left: 0;
    width: 18em;
    height: 20em;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-2 .border {
    width: 15em;
    height: 18em;
    left: 0px;
    margin-left: 0;
  }
}
.home-1 .container .col-2 .border .img {
  position: absolute;
  width: 45em;
  bottom: 0em;
}
@media (max-width: 768px) {
  .home-1 .container .col-2 .border .img {
    width: 35em;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-2 .border .img {
    width: 24em;
    height: 20em;
  }
}
.home-1 .container .col-3 {
  position: relative;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .home-1 .container .col-3 {
    position: absolute;
    top: 20px;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .home-1 .container .col-3 .inner-container {
    display: flex;
    flex-direction: unset;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-3 .inner-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}
.home-1 .container .col-3 .inner-container .text-follow {
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  writing-mode: vertical-rl;
  padding-right: 3px;
}
@media (max-width: 768px) {
  .home-1 .container .col-3 .inner-container .text-follow {
    writing-mode: unset;
    letter-spacing: 5px;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-3 .inner-container .text-follow {
    writing-mode: vertical-rl;
  }
}
.home-1 .container .col-3 .inner-container .icon-sosmed {
  padding-bottom: 8px;
  padding-top: 8px;
}
@media (max-width: 768px) {
  .home-1 .container .col-3 .inner-container .icon-sosmed {
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-3 .inner-container .icon-sosmed {
    display: inline-block;
  }
}
.home-1 .container .col-3 .inner-container .icon-sosmed li {
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .home-1 .container .col-3 .inner-container .icon-sosmed li {
    padding: 0 8px;
  }
}
.home-1 .container .col-3 .inner-container .icon-sosmed li a {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  transition: 200ms;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li a:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  box-shadow: 0 0 0 2px #fff;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 200ms;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li a:hover {
  background-color: #fff;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li a:hover:after {
  opacity: 1;
  transform: scale(1.15);
}
.home-1 .container .col-3 .inner-container .icon-sosmed li a i {
  font-size: 1.5em;
  color: #fff;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li:nth-child(1):hover i {
  color: #f2003c;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li:nth-child(2):hover i {
  color: #007bb5;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li:nth-child(3):hover i {
  color: #25d366;
}
.home-1 .container .col-3 .inner-container .icon-sosmed li:nth-child(4):hover i {
  color: #171515;
}
.home-1 .container .col-3 .inner-container hr {
  border: none;
  border-left: 2px solid #fff;
  height: 40px;
}
@media (max-width: 768px) {
  .home-1 .container .col-3 .inner-container hr {
    display: none;
  }
}
@media (max-width: 576px) {
  .home-1 .container .col-3 .inner-container hr {
    display: block;
  }
}

.frame-satu {
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 60px;
}
.frame-satu .container h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.navigation {
  width: 100% !important;
  position: sticky;
  top: 0;
  box-shadow: -1px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #1A1A1A;
}
@media (max-width: 576px) {
  .navigation {
    box-shadow: unset;
  }
}
.navigation .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
@media (max-width: 576px) {
  .navigation .container {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .navigation .container .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
  }
}
.navigation .container .navbar li {
  display: inline-block;
  position: relative;
}
.navigation .container .navbar li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
}
@media (max-width: 576px) {
  .navigation .container .navbar li a {
    padding: 0;
    font-size: 20px;
  }
}
.navigation .container .navbar li a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F4FA1A;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
@media (max-width: 576px) {
  .navigation .container .navbar li a::after {
    background: none;
  }
}
.navigation .container .navbar li a:hover {
  color: #F4FA1A;
  transition: 0.5s;
}
.navigation .container .navbar li a:hover:after {
  width: 100%;
  left: 0;
}
.navigation .container .navbar li.active a {
  color: #F4FA1A;
}
.navigation .container .navbar.active {
  right: 0;
  top: 0;
  position: fixed;
}
.navigation .container .hamburger-menu {
  display: none;
}
@media (max-width: 576px) {
  .navigation .container .hamburger-menu {
    display: block;
    align-items: center;
    position: fixed;
    padding: 10px;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    width: 28px;
    height: 35px;
    cursor: pointer;
  }
}
.navigation .container .hamburger-menu span {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 4px;
  margin: 0 0 5px 0;
  border-radius: 3px;
}
@media (max-width: 576px) {
  .navigation .container .hamburger-menu span {
    display: block;
  }
}
.navigation .container .hamburger-menu.active .menu-1 {
  transform: rotate(-45deg) translate(-0.1rem, 0.7rem);
}
.navigation .container .hamburger-menu.active .menu-2 {
  opacity: 0;
}
.navigation .container .hamburger-menu.active .menu-3 {
  transform: rotate(45deg) translate(-0.1rem, -0.7rem);
}

.icons-sosmed {
  display: none;
}
@media (max-width: 576px) {
  .icons-sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.icons-sosmed li a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: 200ms;
}
.icons-sosmed li a:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  transition: 200ms;
}
.icons-sosmed li a:hover {
  background-color: #fff;
}
.icons-sosmed li a:hover:after {
  opacity: 1;
  transform: scale(1.15);
}
.icons-sosmed li a i {
  font-size: 2.5em;
  color: #fff;
}
.icons-sosmed li:nth-child(1):hover i {
  color: #f2003c;
}
.icons-sosmed li:nth-child(2):hover i {
  color: #007bb5;
}
.icons-sosmed li:nth-child(3):hover i {
  color: #25d366;
}
.icons-sosmed li:nth-child(4):hover i {
  color: #171515;
}

.inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
